<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <h2 class="text-white mt-3 mb-3">Group Manager</h2>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/groups">Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/members">Members</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <footer class="footer bg-light p-3 text-center mt-5">
      <p>© 2024 Loaned. All Rights Reserved.</p>
    </footer> -->
